*

!.oh-my-zsh/
!.oh-my-zsh/custom/
!.oh-my-zsh/custom/plugins/
!.oh-my-zsh/custom/plugins/zsh-autosuggestions
!.oh-my-zsh/custom/plugins/zsh-syntax-highlighting

!.config/
#rime
!.config/ibus/
!.config/ibus/rime/
!.config/ibus/rime/*.yaml
!.config/ibus/rime/rime-zhengma
!.config/ibus/rime/rime-zhengma-st

!.gitignore
!.zshrc
!.xprofile
!.vimrc
